@page
@model Sodashop.UI.Pages.StorePages.FrontStoreModel
@{
    ViewBag.cartID = Model.CartID;
}

<div class="d-flex justify-content-lg-between">
<a style="background: #78DDFF; color:white" asp-route-cartID="@Model.ShoppingCart.ShoppingCartId" asp-page="/StorePages/ShoppingCart" class="btn align-self-center" type="button"> Go to cart</a>

    <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background: #78DDFF">
                    Cart
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <div class="single category">
                            <ul class="list-unstyled">
                    @if(Model.ShoppingCart.CartÍtems != null)
                    {
                    @foreach (var cartItem in @Model.ShoppingCart.CartÍtems)
                                {
                                    <li>@cartItem.ProductName : @cartItem.Quantity</li>
                                }
                            }            
                            <a asp-page="/StorePages/FrontStore" asp-route-cartID="@Model.ShoppingCart.ShoppingCartId" asp-page-handler="ClearCart"> ClearCart </a>
		                    </ul>
                      </div>
              </div>
      </div>
</div>
<div class="d-flex justify-content-center">
    <h1 class="text-center">Welcome to the exclusive store</h1>

    </div>
    <div class="row justify-content-md-center">
    @foreach (var product in Model.Products)
    {
            <div class="col-4 text-center">
                <img src="@product.ProductImage" class="img-thumbnail" alt="@product.ProductName" />
                <h1 class="text-center">@product.ProductName</h1>
                <p class="text-center">$@product.Price</p>
                <p class="text-center">Stock: @product.Stock</p>

                <a style="background: #78DDFF; color:white; margin-bottom:5px" asp-route-cartID="@Model.ShoppingCart.ShoppingCartId" asp-route-id="@product.ID" asp-page="/StorePages/FrontStore" asp-page-handler="AddToCart" class="btn align-self-center" type="button"> Add to cart </a>
            </div>
    }
            
</div>

